// Body
$body-bg-dark: #1a202c;
$body-color-dark: #a0aec0;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #51BBFE;
$green: #8FF7A7;
$yellow: #F7FE72;
$red: #F21B3F;
